.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
whatsapp-gateway/.env
whatsapp-gateway/gateway.log
whatsapp-gateway/node_modules
whatsapp-gateway/.wwebjs_auth
whatsapp-gateway/.wwebjs_cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
